body{
	height: 600%;
	width: 100%;
	background-color: white; 
	font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.container{
	height: auto;
	width: 50%;
	background: white;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0; 
}

.closeup{
	position: absolute;
	left: auto;
	right: auto;
}

.one{
	position: relative;
	top: auto;
	left: -5%;
	right: 20%;
	margin-top: 110%;
}

.two{
	position: absolute;
	top: auto;
	left: 40%;
	margin-top: -20%;

}

.three{
	position: relative;
	top: auto;
	left: -10%;
	margin-top: -10%;
}

.four{
	position: relative;
	top: auto;
	left: 20%;
	margin-top: -30%;
}

.five{
	position: relative;
	top: auto;
	left: -10%;
	margin-top: -100%;
}

.six{
	position: relative;
	top: auto;
	left: 20%;
	margin-top: -40%;
}

.seven{
	position: relative;
	top: auto;
	left: -20%;
	margin-top: -70%;
}

.eight{
	position: relative;
	top: auto;
	left: 10%;
	margin-top: -100%;
}

