body{
	position: absolute;
	left: 10%;
	height: 1000px;
	width: 1000px;
	background: white;
	font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.container{
	height: 100%;
	width: 100%;
}


.box{ 
	width: 30%;
	height: 29%;
	position: absolute;
	left: 5%;
	top: 5%;
	background: white;
	float: left;
}


.box2{
	width: 40%;
	height: 20%;
	background: white;
	position: absolute;
	left: 20%;
	top: 35%;
}


.box3{
	width: 30%;
	height: 39%;
	background: white;
	position: absolute;
	top: 56%;
	left: 5%;
}

.box4{
	width: 30%;
	height: 32%;
	background: white;
	position: absolute;
	top: 30%;
	left: 61%;
}


.box5{
	width: 24%;
	height: 29%;
	position: absolute;
	top: 5%;
	left: 36%;
	background: white;
}

.box6{
	width: 30%;
	height: 24%;
	background: white;
	position: absolute;
	left: 61%;
	top: 5%;
}


.box7{
	width: 14%;
	height: 20%;
	background: white;
	position: absolute;
	left: 5%;
	top: 35%;

}

.box8{
	width: 30%;
	height: 32%;
	background: white;
	position: absolute;
	top: 63%;
	left: 61%;
}

.box9{
	width: 24%;
	height: 39%;
	background: white;
	position: absolute;
	top: 56%;
	left: 36%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: darkblue;
}

.container2:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
