body{
	background-color: white;
	width: 100%;
	height: 100%;

}


.bgimage{
	background-image: url("nyc.jpg");
  	background-color: white;
  	height: 30em;
  	width: auto;
  	background-position: center;
  	background-repeat: no-repeat;
  	position: block;

}

.title{
	font-family: futura;
	text-align: center;
}

.text{
	margin-top: 0%;
	
}

.box{
	margin: 0px auto;
	width: 300px;
	height: 2px;
	background: black;
}


.link{
	color: black;
	text-decoration: none;
	background: white;
}

.link:hover, link:active {
  background-color: black;
  color: white;
}