body{
	background: white;
	width: 200%:
	height: 400%;

}

h3{
	position: absolute;
	text-decoration: none;
	color: black;
	text-align: center;
	margin: 1em;
	z-index: 2;
}

h3:hover{
	color:  #eaeaea;
}

.backgroundimg{
	width: 81vw;
	height: 130vh;
	z-index: -2;
}

.box{
	display: block;
	background: none;
	width: 81vw;
	height: 140vh;
	margin: 8%;
	position: absolute;
	top: 5%;
	background-image: url('paint5.jpg');
}

.audio{
	width: 80%;
	display: inline-flex;
	background-color: black;
	z-index: 2;
	margin: 1%;
	margin-left: 10%;
	margin-top: 5%;
}

.heading{
	text-align: center;
	font-size: 10em;
	font-weight: bold;
	line-height: 0.9em;

}

.movie{
	margin: 1%;
	width: 69%;
	height: 45%;
	position: absolute;
	top: 51%;
	left: 16%;
}

.box2{
	width: 81vw;
	height: 130vh;
	position: absolute;
	top: 160%;
	left: 8.6%;
	background: none;
}

.book{
	width: 30%;
	height: 30%;
	margin: 1%;
}

.books{

}

.art1{
	width: 30%;
	height: 44%;
	margin: 0%;
	position: absolute;
	left: 7%;
	top: 3%;
}

.art2{
	width: 26%;
	height: 43%;
	margin-left: 2%;
	position: absolute;
	left: 64%;
	top: 6%;
}

.art3{
	width: 35%;
	margin-left: 2%;
	position: absolute;
	top: 61%;
	left: 60%;
}

.art4{
	width: 36%;
	position: absolute;
	top: 55%;
	left: 17%;
}


.art5{
	width: 36%;
	height: 33%;
	position: absolute;
	top: 69%;
	left: 0%;
	z-index: -1;
}

.box3{
	width: 81vw;
	height: 130vh;
	position: absolute;
	top: 289%;
	left: 8.6%;
	background: none;
}


.book1{
	width: 35%;
	height: 30%;
	 position: absolute;
	 top: 69%;
	 left: 30%;
}

.book2{
	width: 32%;
	height: 30%;
	margin: 0%;
	position: absolute;
	left: 66%;
	top: 31%;
}

.book3{
	width: 23%;
	height: 38%;
	margin: 0%;
	position: absolute;
	top: 35%;
	left: 0%;
}

.book4{
	width: 36%;
	height: 30%;
	margin: 0%;
	position: absolute;
	top: 90%;
	left: 59%;
}

.book5{
	width: 36%;
	height: 30%;
	margin: 0%;
	position: absolute;
	top: 10%;
	left: 26%;
}