body{
	width: 100%;
	height: 100%;
	font-family: Times New Roman, serif;
	margin: 5vw;
	background-image: url(bg2.jpg);
	background-repeat: no-repeat, 100%;
}

.box2{
	width: 80vw;
	height: 80vh;
	background-color: black; 
	opacity: 0.8;
	margin: auto;
 	width: 70%;
 	border: 3px solid none;
 	padding: 10px;

}

.maintext{
	font-size: 1em;
	text-align: center;
	color: white;
	padding: 2vw;
	display: inline-block
    width: auto;
    max-width: 80vw;
}

.subheading{
	font-size: 2em;
}

.subheading2{
	text-decoration: underline;
}

button{
	float: right;
	width: 5%;
	height: 5%;
	background-color: white;
	padding: 1%;
}

a{
	color: black;
	text-decoration: none;
	background: none;
}

button:hover, button:active {
  background-color: red;
  color: red;
}

