
.circle{
	margin: auto;
  	border: 3px solid #d108ff;
	width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(#d108ff, #d3308a);
    z-index: 1;
    padding: 10px;
}

.square{
  	border: 3px solid #8bc9e6;
  	padding: 10px;
	width: 350px;
    height: 350px;
    background-image: linear-gradient(#8bc9e6, white);
    z-index: -2;
    position: absolute;
    top: 25%;
    left: -221%;

}

.rectangle{
  	border: 3px solid #3b328a;
  	padding: 10px;
	height: 800px;
	width: 60px;
	background: #3b328a;
	z-index: -3;
	position: absolute;
	top: -40%;
	left: 41%;
}

.circle2{
	padding: 10px;
	margin: auto;
	margin-top: 10%;
	width: 500px;
    height: 500px;

    background-image: linear-gradient(#7ba782, yellow, orange);
    border-radius: 50%;
    background-color: #7ba782;
    z-index: -4;

   
}

