body{
	width: 100%;
	height: 100%;
	background: #ffa200;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	transform: rotate(45deg);
}



.box2{
	width: 45vw;
	height: 7vh;
	background: #0b89d5;
	margin:1vw;
	border: solid black 0.2vw;
}


.box3{
	width: 45vw;
	height: 7vh;
	background: #0b89d5;
	margin:1vw;
	border: solid black 0.2vw;
}

.box4{
	width: 45vw;
	height: 7vh;
	background: #0b89d5;
	margin:1vw;
	border: solid black 0.2vw;
}

.static{
	position: static;
	margin: 10vw;
	background: #4e1d3d;
	width: 60vw;
	height: 60vh;
	transform: rotate(45deg);
	border: dashed black 0.2vw;
}

.fixed{
	position: fixed;
	left: 0%;
	top: 0%;
	background: #d36202;
	width: 110vw;
	height: 140vh;
	transform: rotate(135deg);
	z-index: -2;
	border: dashed black 0.3vw;

}

.relative{
	position: relative;
	background: #c2ccd5;
	left: 30%;
	top: -20%;
	width: 40vw;
	height: 20vh;
	transform: rotate(45deg);
	margin: -20vw;
	border: solid black 0.2vw;

}

.absolute{
	position: absolute;
	background: black;
	left: 15%;
	top: 70%;
	width: 80vw;
	height: 20vh;
	transform: rotate(135deg);

}

.absolute2{
	position: absolute;
	background: #bb3b3a;
	left: 18%;
	top: 0%;
	transform: rotate(45deg);
	width: 70vw;
	height: 120vh;
	z-index: -1;
	border: dashed black 0.2vw;
}