
/* The body's font-size is smaller by default */
body {
	font-size: 16px;
	font-family: 'Bungee Shade', cursive;
	font-family: 'Bungee Hairline', cursive;
	font-family: 'Bungee', cursive;
	font-family: 'Bungee Outline', cursive;

}




h1{
	font-family: 'Bungee Shade', cursive;
}

.container{
	width: 100vw;
	height: 400vh;
	background: linear-gradient(#840063, black);
	
}

.click{
	font-family: 'Bungee Hairline', cursive;
	font-size: 3vw;
	text-align: center;
	color: white;
}



.icon{
	width: 20vw;
	height: auto;
	position: relative;
	left: 40vw;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}


span a {
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.6s ease-in-out;
}
span a:hover {
  color: #ffffff;
}

@-webkit-keyframes float {
  0% {

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
  
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.cosmic{
	font-family: 'Bungee Outline', cursive;
	font-size: 7vw;
	color: white;
	margin: 2vw;
}


.box {
	background: black;
	width: 100vw;
	height: auto;
	overflow: hidden;
}

.marquee{
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;

}

span{ 
	width: 50%;
}

.marquee span{
	display: inline-block;
	padding-left: 100%;
	-webkit-animation: scroll 20s infinite linear; 
}


.text{
	font-family: 'Bungee', cursive;
	font-size: 2vw;
	color: white;
	text-align: left;
	overflow: hidden;
}

.text2img{
	font-family: 'Bungee', cursive;
	font-size: 2vw;
	color: white;
	text-align: left;
	overflow: hidden;
	margin:5vw;
	margin-top: 45vh;
}

.first{
	width: 60vw;
	height: auto;
	float: right;
	margin: 5vw;
}


  @media (max-width: 500px) {
      body {
        background-color: lightblue;
      }
    }

