
.odometer {
  height: 1.5em;
  width: 100%;
  padding-top: 1rem;
  color: #00AEEF;
  text-align: left;
  display: inline-block;
  background: #fff;
  font-size: 2vw;
  font-weight: 500px;
}
.digit {
  margin: -0.5vw;
  display: inline-block;
  height: 1.5em;
  width: 0.59em;
  overflow: hidden;
}
.digit:first-child {
  border-left: none;
}
.digit-container {
  line-height:1.5em;
}
.digit-container.digit-thousand {
  line-height: 1.5em;
  -webkit-animation: slide 5s infinite ease;
  animation: slide 5s infinite ease;
}

.digit-container.digit-hundred {
  line-height: 1.5em;
  -webkit-animation: slide 5s infinite ease-out;
  animation: slide 5s infinite  ease-out;
}

.digit-container.digit-ten {
  line-height: 1.5em;
  -webkit-animation: slide 5s infinite ease-in-out;
  animation: slide 5s infinite ease-in-out;
}

.digit-container.digit-one {
  line-height: 1.5em;
  -webkit-animation: slide 5s infinite linear;
  animation: slide 5s infinite linear;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-10em);
  }
  /* delay between animations by adding extra transform type with the same value as transform for 100% */
  40% {
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    transform: translateY(-10em);
  }
  40% {
    transform: translateY(0);
  }
    100% {
    transform: translateY(0);
  }
}
