@charset "UTF-8";
@import url("https://use.typekit.net/jcb1yxf.css");
body {
 background: linear-gradient(black, #4B26D7,black, black, black);
 background-repeat: no-repeat;
 width: 100vw;
 height: 700vh;
 overflow-x: hidden;
}

/*
@media (min-height: 650px) {
  .icon {
   position: absolute;
  left: 38vw;
  top: 55vh;
  }
  */
  #container {
    height: 700vh;
    width: 100vw;
  }

  h1{
    color: purple;
  }

  .wrapper{

  }

  .para{
    color: white;
    position: absolute;
    top: 371vh;
    left: -30vw;
    display: none;
    margin: 10vw;
     font-family: dunbar-tall, sans-serif;
    font-weight: 100;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 0.4vw;
  }


/*___________________________________________________________________*/

  /* DEMO-SPECIFIC STYLES */
.wrapper p {
  margin: 46vw;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4B26D7; /* The typwriter cursor */
 /* white-space: nowrap;*/ /* Keeps the content on a single line */ /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 30vw; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4B26D7 }
}


/*___________________________________________________________________*/

  .heading{
    width: 70vw;
    height: auto;
    position: absolute;
    left: 14vw;
    top: 5vh;
    opacity: 0.75;
  }

  .gif{
    width: 60vw;
    height: auto;
    position: absolute;
    top: 400vh;
    left: 20vw;
  }

  .box{
    width: 100vw;
    height: 100vh;
  }

  .first{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0vh;
    left: 0vw;
    z-index: -1;
    opacity: 0.25;
  }

  .icon{
    width: 20vw;
    height: auto;
    margin-left: 39vw;
    margin-top: 56vh;
    opacity: 0.25;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }


  span a {
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.6s ease-in-out;
  }
  span a:hover {
    color: #ffffff;
  }

  @-webkit-keyframes float {
    0% {

      -webkit-transform: translatey(0px);
      transform: translatey(0px);
    }
    50% {

      -webkit-transform: translatey(-20px);
      transform: translatey(-20px);
    }
    100% {

      -webkit-transform: translatey(0px);
      transform: translatey(0px);
    }
  }

  @keyframes float {
    0% {

      -webkit-transform: translatey(0px);
      transform: translatey(0px);
    }
    50% {

      -webkit-transform: translatey(-20px);
      transform: translatey(-20px);
    }
    100% {

      -webkit-transform: translatey(0px);
      transform: translatey(0px);
    }
  }


  .marquee {
    width: auto;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-family: dunbar-tall, sans-serif;
    letter-spacing: 0.5vw;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
  }

  .marquee span {
    display: inline-block;
    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    animation: marquee 25s linear infinite;
  }

  .marquee span:hover {
    animation-play-state: paused
  }

  .marquee-box{
    padding: 3vw;
    width: auto;
    height: auto;
    background-color: black;
  }

.marquee-box2{
    padding: 3vw;
    width: auto;
    height: auto;
    background-color: black;
    margin-top: -66vh;
  }


  /* Make it move */

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  .h4{
    font-family: dunbar-tall, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    font-size: 1.2vw;
    text-align: center;
    letter-spacing: 0.4vw;
    line-height: 2.1vw;
    color: white;
  }

  .h2{
    font-family: dunbar-tall, sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    text-align: center;
    letter-spacing: 0.4vw;
    color: white;
    position: absolute;
    top: 239vh;
    left: 33vw;
    line-height: 4.3vh;
    text-transform: uppercase;
    z-index: 2;
  }

   .h22{
    font-family: dunbar-tall, sans-serif;
    font-weight: 200;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.4vw;
    color: white;
    position: absolute;
    top: 320vh;
    left: 23vw;
    line-height: 10vh;
    text-transform: uppercase;
    z-index: 2;
  }


  .next{
    background-color: black;
    border-radius: 50%;
    width: 3vw;
    height: 5vh; 
    border: none;
  }

  .previous{
   background-color: black;
   border-radius: 50%;
   width: 3vw;
   height: 5vh; 
   border:none;
 }

 .gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.gallery .gallery-content {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .gallery .gallery-content .btn.btn-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .gallery .gallery-content .slide-container {
    margin-bottom: 25px;
  }
}
@media (min-width: 769px) {
  .gallery .gallery-content .slide-container {
    margin: 0 calc(7.2rem / 2) 25px;
  }
}
.gallery .image-slide-wrapper {
  position: relative;
  z-index: 1;
  width: 70vw;
  height: 600px;
  max-width: 90vw;
}
.gallery .image-slide-wrapper .image-slide {
  background-color: #eee;
}
.gallery .image-slide-wrapper .image-slide:not(.selected) {
  z-index: -2;
  opacity: 0;
}
.gallery .image-slide-wrapper .image-slide.selected {
}
.gallery .image-slide-wrapper .image-slide.previous,
.gallery .image-slide-wrapper .image-slide.next {
  z-index: -1;
  opacity: 0.5;
}
.gallery .image-slide-wrapper .image-slide.previous {
  -webkit-transform: translate3d(-7.2rem,0,0) scale(0.8);
  transform: translate3d(-7.2rem,0,0) scale(0.8);
}
.gallery .image-slide-wrapper .image-slide.next {
  -webkit-transform: translate3d(7.2rem,0,0) scale(0.8);
  transform: translate3d(7.2rem,0,0) scale(0.8);
}
.gallery .image-slide {
  border-radius: 10px;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 1;
}











@media (max-width: 800px), 
(max-height: 650px) {
  #container {
    height: 700vh;
    width: 100vw;
    overflow-y: hidden;
  }

  .first{
    width: 150vw;
    height: auto;
    position: absolute;
    top: 0vh;
    left: 0vw;
    z-index: -1;
    opacity: 0.25;
  }

  .icon {
   margin-top: 38vh;
 }

 .heading{
  width: 100vw;
  height: auto;
  position: absolute;
  left: 2vw;
  top: 5vh;
  opacity: 0.75;
} 


.marquee-box{
 padding: 3vw;
 margin-top: -36vh;
 width: auto;
 height: auto;
 background-color: black;
}

.h4{
    font-family: dunbar-tall, sans-serif;
    font-weight: 100;
    font-size: 2.5vw;
    text-align: center;
    letter-spacing: 0.4vw;
    color: white;
  }

.two{
  margin-top: 40vh;
}

  .h2{
    font-family: dunbar-tall, sans-serif;
    font-weight: 400;
    font-size: 2.8vw;
    text-align: center;
    letter-spacing: 0.4vw;
    color: white;
    position: absolute;
    top: 176vh;
    left: 22vw;
    line-height: 3.5vh;
    text-transform: uppercase;
    z-index: 2;
  }


  .h22{
    font-family: dunbar-tall, sans-serif;
    font-weight: 200;
    font-size: 2.8vw;
    text-align: center;
    letter-spacing: 0.4vw;
    color: white;
    position: absolute;
    top: 220vh;
    left: 6vw;
    line-height: 3.5vh;
    text-transform: uppercase;
    z-index: 2;
  }

.gallery .image-slide-wrapper {
  position: relative;
  z-index: 1;
  width: 70vw;
  height: 400px;
  max-width: 90vw;
}

}
.clickme{
  position: absolute;
  top: 612vh;
  left: 35vw;
  width: 30vw;
  height: 6vw;
 background-color:  #4B26D7;
}


.clickme:hover{
    background-image: url(stars.gif);
   background-size: 50vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.h5{
    font-family: dunbar-tall, sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
    text-align: center;
    letter-spacing: 0.4vw;
    color: white;
    text-transform: uppercase;
    line-height: 3.5vh;
}








